.chat-section {
  margin-top: 24px;
  .chat-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-bottom: 0;
    }
  }
}

/* CHAT-CONTAINER */
.chat-container {
  flex-grow: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;

  .chat-header {
    border-bottom: 1px solid rgb(240,240,240);

    h1 {
      font-size: 26px;
    }
  }

  .chat-conversations {
    flex-grow: 1;
    padding: 18px 0;
    overflow: scroll;
  }
}
